<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Menus">  
  
   <select  id         = "MenuList"   
            resultType = "com.green.menu.vo.MenuVo">
      
      SELECT 
	    MENU_ID,
	    MENU_NAME,
	    MENU_SEQ    
	  FROM  MENUS 
	  ORDER BY  MENU_SEQ ASC           
  
   </select>
   
   <select id         = "getMenu"
           resultType = "com.green.menu.vo.MenuVo">
   
   	SELECT  
	     MENU_ID,
	     MENU_NAME,
	     MENU_SEQ
	 FROM    MENUS 
	 WHERE   MENU_ID = #{menu_id}
   
   </select>
   
   <select id="MenuName"
           resultType="java.lang.String">
   
   	  SELECT   MENU_NAME
   	   FROM    MENUS
   	   WHERE   MENU_ID = #{ menu_id  }     
   
   </select>
   
   <insert id="MenuInsert">
      
      INSERT INTO  MENUS 
         ( 
           MENU_ID, 
           MENU_NAME, 
           MENU_SEQ   
         )
      VALUES
         ( 
           #{menu_id}, 
           #{menu_name}, 
           #{menu_seq} 
         )     
   
   </insert>
  
  <!--  
   <insert id="MenuInsert2">
      
      INSERT INTO  MENUS 
         ( 
           MENU_ID, 
           MENU_NAME, 
           MENU_SEQ   
         )
      VALUES
         ( 
           ( 
            SELECT  
	          'MENU' || 
	           TRIM(TO_CHAR( MAX(NVL(MENU_SEQ, 0))+1 , '00' ))
              FROM   MENUS
           ), 
           #{menu_name}, 
           ( 
            SELECT  MAX(NVL(MENU_SEQ, 0))+1  
    		 FROM   MENUS 
    	   )
         )     
   
   </insert>
   -->
   
   <!-- Mybatis 3.2.6 부터 사용가능 multiple selectKey를 사용
    keyProperty="menu_id,menu_seq" 공백있으면 안됨 
     resultType="hashmap" 사용하면안됨 =>  resultType="com.green.menus.vo.MenuVo" 
     -->
   <insert id="MenuInsert2">
   <selectKey keyProperty="menu_id,menu_seq"
     resultType = "com.green.menu.vo.MenuVo"
     order = "BEFORE">
     SELECT  menu_id,menu_seq
       FROM
       (  SELECT  
	          'MENU' || 
	           TRIM(TO_CHAR( MAX(NVL(MENU_SEQ, 0))+1 , '00' )) as menu_id
              FROM   MENUS  ) menu_id,
       ( SELECT  MAX(NVL(MENU_SEQ, 0))+1 as menu_seq   
    		 FROM   MENUS ) menu_seq   
   </selectKey>
   INSERT INTO MENUS ( MENU_ID, MENU_NAME, MENU_SEQ )
     VALUES ( #{menu_id}, #{menu_name}, #{menu_seq} )   
   </insert>
   
   
   <update id="UpdateMenu">
   
       UPDATE   MENUS
		  SET     MENU_NAME  =  #{ menu_name  } 
		         ,MENU_SEQ   =  #{ menu_seq   }
		  WHERE   MENU_ID    =  #{ menu_id    }
   
   </update>
   
   <delete id="DeleteMenu">
   
   	   DELETE   FROM  MENUS
   	     WHERE  MENU_ID  =  #{ menu_id } 
   
   </delete>   
  
</mapper>
















   